@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topnav_socialBtn {
  color: aliceblue;
}

.p-scrolltop {
  border-radius: 25px;

  &.p-link {
    background: rgba(6, 137, 231, 0.7);
    &:active,
    &:hover,
    &:focus {
      background: rgba(1, 86, 146, 0.7);
    }
  }
}
